<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Personal blog of Berk Özbalcı, about computers, math and music">
      <meta name="author" content="Berk Özbalcı">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <link rel="alternate" type="application/atom+xml" href="/atom.xml">
      <title><%= title %></title>
   </head>
   
   <body>
      <main>
         <header>
            <h1 class="title"><a href="/">Really Busy Wizards</a></h1>
         </header>

         <article>
   <h2><%= title %></h2>
   Fill this out with your post: <%= title %>

</article>

<footer>
   <div id="date" class="meta">
      31 Dec 1969
   </div>
   <div id="return">
      <a href="/">&laquo; Return to the home page</a>
   </div>
</footer>

      </main>
   </body>
</html>
